# Unity generated
prj/Library/
prj/Logs/
prj/UserSettings/
output/

# Server build
teamobi/SRC/data/
teamobi/SRC/build/
teamobi/SRC/dist/
teamobi/SRC/lib/
teamobi/SRC/*.jar

# OS
.DS_Store
Thumbs.db

# Archives
*.rar
*.zip

# Build files
prj/nro.apk
*.apk

# IDE
.freebuff/
*.iml
.idea/
.vscode/

# Documents
*.xlsx
*.docx
